body {/*Normaler body*/
    --primary-color: #000;
    --secondary-color: #fff;
    --text-color: #fff;
    --bg-img: url(./../grafics/bg.jpg)/*Pfad zum Hintergrundbild*/
}

body.light {/*Body mit der Klasse light*/
    --primary-color: #fff;
    --secondary-color: #000;
    --text-color: #000;
    --bg-img: url(./../grafics/bgl.png)
}
