@charset "UTF-8";
body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*Menü style*/
  /*Margin-container für Menü und header*/
}

body .banner {
  z-index: 400;
  height: 100px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: helvetica;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 100px;
  border-bottom: 2px solid var(--secondary-color);
}

body .sidebar {
  z-index: 500;
  position: fixed;
  width: 200px;
  height: 100vh;
  top: 70px;
  left: 20px;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-bottom: 1px solid transparent;
  padding: 10px;
  padding-left: 30px;
}

body .sidebar a {
  display: list-item;
  color: var(--text-color);
  padding-bottom: 10px;
}

body .main-shell {
  margin-left: 220px;
  margin-bottom: 10px;
}

body .main-shell .main-content {
  background-color: var(--primary-color);
}

body .main-shell .main-content .thema {
  padding-bottom: 20px;
  padding-top: 20px;
}

body .main-shell .main-content hr {
  background-color: var(--trinary-color);
}

body .respi {
  height: 500px;
}

body footer {
  background-color: var(--primary-color);
  border-top: 1px solid var(--secondary-color);
  position: absolute;
  height: 60px;
  display: flex;
  width: 100%;
  z-index: 600;
}

body footer .footer-link {
  font-size: 30px;
  margin-left: 10px;
}
